# Ignore env files
.venv
.env
.vscode

# Ignore python cache files
__pycache__

# Ignore output package
package/

# Ignore generated frontend files
node_modules
dist
frontend/yarn.lock
frontend/yarn-error.log
frontend/.yarn
frontend/.pnp.cjs
frontend/.pnp.loader.mjs

# Ignore genertated client version file
client/*/version.py